@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
height: auto;
}

input, button, form {
  border: 1px black solid;
}

form {
  padding: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS para tornar o reCAPTCHA responsivo */
.recaptcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.recaptcha-container > div {
  transform: scale(0.70); /* Ajuste o valor conforme necessário */
  transform-origin: 0 0;
}

/* Ajuste para telas muito pequenas */
@media (max-width: 320px) {
  .recaptcha-container > div {
    transform: scale(0.6);
    transform-origin: 0 0;
  }
}

.cnpj-info {
  /* margin: 20px; */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 600px;
}

.cnpj-info h2 {
  font-size: 24px;
  /* margin-bottom: 20px; */
}

.cnpj-info p {
  margin: 10px 0;
}

.cnpj-info p strong {
  color: #333;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.empty-message {
  font-size: 12px;
  margin-top: 5px;
  visibility: hidden;
}
